@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
*{
       text-decoration: none;
}
header {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 2;
    background: rgba(66,64,65,1);
    top:0;
 
}
nav{
    position: absolute;
    font-family: 'Press Start 2P', cursive;
    width: 800px;
    height: 100px;
    left: 0;
    right: 0;
     margin-left: auto;
    margin-right: auto;
}
.menul{
    position: absolute;
    left:0;
    top:0;
    margin: 0 auto;
    width: 37.5%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;

}
.menul li{

}
.menur{
    position: absolute;
    right:0;
    top:0;
    margin: 0 auto;
    width: 37.5%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.menur li{

}
.menul li a,.menur li a{
    font-size: 15px;
    color: #f4fbfb;
}
.menul li a:hover,.menur li a:hover{
    color: rgb(244,66,54);
}
.logotext{
    
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition:  1s;
    width: 100px;

}
.sign{
    height:100px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sign a:nth-child(1){
    width: 120px;
    height: 30px;
    background: rgb(76,176,80);
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign a:nth-child(2){
     width: 120px;
    height: 30px;
    background: rgb(139,194,74);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign button{
    width: 120px;
    height: 30px;
    background: rgb(139,194,74);
    border: 0px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    color: aliceblue;
    font-size: 15px;
}
.sign button:hover{
    color: rgb(244,66,54);
}
.user{
    margin-top: 5px;
    width: 60px;
    height: 60px;
    background: rgb(139,194,74);
    border-radius: 10px;
    margin-bottom: 5px;
    
}
.usert strong{
    font-family:sans-serif;
    width: 100%;
    font-size: 20px;
    text-align:center;
    color: aliceblue;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space: nowrap;
}

.logotext:hover{
    transform: scale(10) translateY(30px);
}
.headerdummy {
    height: 100px;
    background: #fff;
}


