<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bumbing.mapper.BoardMapper">

	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							subject like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							content like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							writer like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql> 
	
	<select id="getTableName" resultType="string">
		select tablename from tbl_boardlist where no=#{value}
	</select>
	
	<select id="getList" resultType="com.bumbing.domain.board.BoardVO">
		<![CDATA[
			select * from ${tableName} where no > 0 
		]]>
	</select>
	
	<insert id="insert">
		insert into ${tableName} (email, subject, content,readnum)
		values (#{email}, #{subject}, #{content}, 0)
	</insert>
	
	<select id="getListWithPaging"
		resultType="com.bumbing.domain.board.BoardVO">
  <![CDATA[
  select 
    no, subject, content, tb.email,tbl_member.username, readnum, rdate
  from ${tableName} tb, tbl_member
  where 
  ]]>
	<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							subject like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							content like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							writer like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>  
	tbl_member.email=tb.email
	order by no desc  
     limit #{start},#{amount}

	</select>
	
	<select id="read" resultType="com.bumbing.domain.board.BoardVO">
		select * from board where no = #{no}
	</select>
	
	<delete id="delete">
		delete from ${tableName} where no = #{no}
	</delete>
	
	<update id="update">
		update ${tableName} set email= #{email}, subject = #{subject}, content= #{content}, rdate= CURRENT_TIMESTAMP where no = #{no}
	</update>
	
	<select id="getTotalCount" resultType="int">
select count(*) from ${tableName} where 
		<include refid="criteria"></include> 
		
		no > 0
		
	</select>
</mapper>
