<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bumbing.mapper.GameMapper">

  <resultMap type="com.bumbing.domain.GameVO" id="gameMap">
    <id property="game" column="game"/>
    <result property="gameName" column="gamename"/>
    <result property="width" column="width"/>
    <result property="height" column="height"/>
  </resultMap>


  <select id="game" resultMap="gameMap">
	select * from tbl_game where game = #{game}
  </select>
  
  <insert id="add" parameterType="com.bumbing.domain.GameVO">
  	insert into tbl_game(gamename,width,height) values(#{gameName},#{width},#{height})
  </insert>

  <delete id="del">
	delete from tbl_game where game=#{game}
  </delete>
  
</mapper>
