<style>

.conbox li{
	cursor: pointer;
}
</style>

<ul class="conbox">
                <li>

                    <div class="gamecont">
                        <img src="${pageContext.request.contextPath}/resources/img/color.jpg" alt="">
                        <div class="gamesub">
                            COLOR MATCH
                        </div>
                    </div>
           
                </li>
                      <li>
                    <div class="gamecont">
                        <img src="${pageContext.request.contextPath}/resources/img/soocer.jpg" alt="">
                        <div class="gamesub">
                            SOOCER
                        </div>
                    </div>
              
                </li>

                      <li>
                    <div class="gamecont">
                        <img src="${pageContext.request.contextPath}/resources/img/bunny.jpg" alt="">
                        <div class="gamesub">
                            SPACE WARRIOR BUNNY
                        </div>
                    </div>
                 
                </li>
                <li>
                    <div class="gamecont">
                        <img src="${pageContext.request.contextPath}/resources/img/trumblestump2.jpg" alt="">
                        <div class="gamesub">
                            TRUMBLESTUMP 2
                        </div>
                    </div>
                 
                </li>
                <li>
                    <div class="gamecont">
                        <img src="${pageContext.request.contextPath}/resources/img/calabash bros.jpg" alt="">
                        <div class="gamesub">
                            CALABASH BROS
                        </div>
                    </div>
                 
                </li>
                <li>
                    <div class="gamecont">
                        <img src="${pageContext.request.contextPath}/resources/img/slimeplzza.jpg" alt="">
                        <div class="gamesub">
                            Slime Plzza
                        </div>
                    </div>
                 
                </li>
                <li>
                    <div class="gamecont">
                        <img src="${pageContext.request.contextPath}/resources/img/bloxorz_.jpg" alt="">
                        <div class="gamesub">
                            Bloxorz
                        </div>
                    </div>
                 
                </li>
                <li>
                    <div class="gamecont">
                        <img src="${pageContext.request.contextPath}/resources/img/twistedlines.jpg" alt="">
                        <div class="gamesub">
                            Twisted Lines
                        </div>
                    </div>
                 
                </li>
                <li>
                    <div class="gamecont">
                        <img src="${pageContext.request.contextPath}/resources/img/Cut the Rope Time Travel.jpg" alt="">
                        <div class="gamesub">
                            Cut the Rope Time Travel
                        </div>
                    </div>
                 
                </li>
            </ul>

            <script type="text/javascript">
          
            //클릭
            for(let i =0 ; i<document.querySelector(".conbox").children.length;i++){
            	document.querySelector(".conbox").children[i].addEventListener("click",()=>{
            	location.href="http://www.applabo.xyz/game?game="+(i+1);
            		
            	})
            }
</script>
