<%@ taglib uri="http://www.springframework.org/security/tags" prefix="sec" %>


<link rel="stylesheet" href="${pageContext.request.contextPath}/resources/css/header.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<header class="header">
    <nav>

        <div><img src="${pageContext.request.contextPath}/resources/res/mainlogo.png" alt="" class="logotext"></div>
        <ul class="menul">
            <li><a href="http://www.applabo.xyz/">HOME</a></li>
            <li><a href="#">GAME</a></li>
        </ul>
        <ul class="menur">
            <li><a href="#">BOARD</a></li>
            <li>
            
            <sec:authorize access="isAnonymous()">

				 <div class="sign">
                    <a href="http://www.applabo.xyz/signup">

                        <div>
                            SIGN UP
                        </div>
                    </a>


                    <a href="http://www.applabo.xyz/login">
                        <div>
                            LOGIN
                        </div>
                    </a>


                </div>
			
			</sec:authorize>
			
			<sec:authorize access="isAuthenticated()">
			
				  <div class="sign login">
                   <div class="p1"><img src="${pageContext.request.contextPath}/resources/res/user.png" alt="" class="user">
                    <div class="usert"><strong><sec:authentication property="principal.username"/></strong></div></div>
                    
                    <div class="p2" style="display: none"><a href="http://www.applabo.xyz/user">
                        <div>
                            PROFILE
                        </div>
                    </a>
                    
                    <form action="/logout" method="post">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                        <button type="submit">LOGOUT</button>
                    </form>
                   </div>
                     
                    
        	</div>
			
			</sec:authorize>


               
            </li>
        </ul>


    </nav>
</header>

<script type="text/javascript">
    function header(st, lastScrollTop) {
        if (st < lastScrollTop) {
            //$(".header").stop().animate({top:"0px"},500);
            $(".header").slideDown()
        } else {
            //$(".header").stop().animate({top:"-100px"},500);
            $(".header").slideUp()
        }
    }
    
    
    if(document.getElementsByClassName("login")[0]!=null){
    	 document.getElementsByClassName("login")[0].addEventListener("mouseover",function(){
    	        document.querySelector(".p1").style.display="none";
    	        document.querySelector(".p2").style.display="block";
    	    })
    	    document.getElementsByClassName("login")[0].addEventListener("mouseout",function(){
    	        document.querySelector(".p2").style.display="none";
    	        document.querySelector(".p1").style.display="block";
    	    })
    }
   
    

</script>
