<link rel="stylesheet" href="../../resources/css/header.css">
<div class="headerdummy"></div>
<header class="header">
    <nav>

        <div><img src="../../resources/res/mainlogo.png" alt="" class="logotext"></div>
        <ul class="menul">
            <li><a href="#">HOME</a></li>
            <li><a href="#">GAME</a></li>
        </ul>
        <ul class="menur">
            <li><a href="#">BOARD</a></li>
            <li>
                <div class="sign">
                    <a href="">

                        <div>
                            Sign Up
                        </div>
                    </a>


                    <a href="">
                        <div>
                            Login
                        </div>
                    </a>


                </div>
            </li>
        </ul>


    </nav>
</header>

<script type="text/javascript">
    function header(st, lastScrollTop) {
        if (st < lastScrollTop) {
            //$(".header").stop().animate({top:"0px"},500);
            $(".header").slideDown()
        } else {
            //$(".header").stop().animate({top:"-100px"},500);
            $(".header").slideUp()
        }
    }

</script>
