
           <nav class="main-menu">
            <ul>
                <li>
                    <a href="adminmain">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                           ADMIN
                        </span>
                    </a>
				</li>
			  	<li>
                    <a href="member">
                        <i class="fa fa-users fa-2x"></i>
                       <span class="nav-text">
                            Member
                        </span>
                    </a>
                </li>
                <li>
                    <a href="admincomment">
                       <i class="fa fa-reply fa-2x"></i>
                        <span class="nav-text">
									Comment
                        </span>
                    </a>
                </li>
                <li>
                    <a href="admingameboard">
                      <i class="fa fa-gamepad"></i>
                      <span class="nav-text">
									Game
                       </span>
                    </a>
                </li>
             </ul>
        </nav>