


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
     .videocont{
        width:200px;
        height:200px;
    }
        .conboxanioff{
            width:200px;
        height:200px;
            object-fit: fill;
        z-index: 10;
        }
    </style>



</head>
<body>
    <div class="videocont">
                  <video loop="loop" preload="auto" class="conboxanioff">
                    <source src="res/vid2.mp4" type="video/mp4"/>
                </video>

               </div>
</body>
</html>
