@charset "UTF-8";


        * {
            margin: 0;
            padding: 0;
            
            
        }
        header{
            background: #424041;
            width: 100%;
            height: 100px;
        }
        body{

          font-size: 15px;
        }
        h1{
            font-family: 'Press Start 2P', cursive;
            margin: 10px 0px;
        }
        a{
          text-decoration : none;
            font-size: 20px;
        font-family: 'Cute Font', cursive;
        }
        table{
          border-top : 2px solid grey;
          border-bottom : 2px solid grey;
          border-spacing : 0;
          position:relative;
        }
        th{
            font-family: 'Press Start 2P', cursive;
          border-bottom: 2px solid grey;
        }
        td{
          border-bottom: 1px dotted lightgrey;
           font-family: 'Cute Font', cursive;
            font-size : 20px;
        }
        tr th:nth-child(1), td:nth-child(1){
          width:10px;
          text-align : center;
          background-color :#c8f3fc;
          padding-left:5px;
            padding-bottom: 5px;
            padding-top: 5px;
        }
        tr th:nth-child(2), td:nth-child(2){
          width:75px;
          text-align : center;
          background-color :#c8f3fc;
          padding-left:5px;
            padding-bottom: 5px;
            padding-top: 5px;
   
        }
        tr th:nth-child(3), td:nth-child(3){
          width:300px;
          text-align : left;
          background-color :#f4fbfb ;
          padding-left:5px;
            padding-bottom: 5px;
            padding-top: 5px;
         
        }
  
        tr th:nth-child(4),td:nth-child(4){
          width:100px;
          text-align : center;
          background-color : #ddf8fa;
            padding-bottom: 5px;
            padding-top: 5px;
        }
        tr th:nth-child(5),td:nth-child(5){
          width:75px;
          text-align : center;
          background-color :Lavender;
            padding-bottom: 5px;
            padding-top: 5px;
        }
        tr th:nth-child(6),td:nth-child(6){
          width:140px;
          text-align : right;
          background-color :#f4fbfb ;
            padding-bottom: 5px;
            padding-top: 5px;
        }


        .search {
          width: 180px;
          position: relative
        
        }

        .searchTerm {
          float: left;
          width: 100%;
          border: 3px solid pink;
          padding: 5px;
          height: 20px;
          border-radius: 5px;
          outline: none;
          color: pink;
            font-family: 'Cute Font', cursive;
            font-size : 20px;
        }

        .searchTerm:focus{
          color: #00B4CC;
            font-family: 'Cute Font', cursive;
        }

        .searchButton {
          position: absolute;  
          right: -50px;
          width: 40px;
          height: 36px;
          border: 1px solid pink;
          background: pink;
          text-align: center;
          color: pink;
          border-radius: 5px;
          cursor: pointer;
          font-size: 20px;
        }

        /*Resize the wrap to see the search bar change!*/
        .wrap{
          width: 30%;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            top: 20px;
            
        }
        .psid{
          width:583px;
        font-family: 'Cute Font', cursive;
        }
        #psId{
          border : 1px solid pink;
          background : pink;
          font-family: 'Cute Font', cursive;
          font-size: 20px;
        }
     